.container
  display: flex
  flex-direction: column
  height: 100vh

  .row
    display: flex
    flex-direction: row
    height: 100%
    nav
      background: yellow
      width: 250px
      transition: width 0.5s
      
    .isOpen
      width: 50px

    .main
      display: flex
      flex-direction: column
      flex-grow: 1
      background: red
      height: 100%

      header
        background: green
        height: 50px
  footer
    display: flex
    position: fixed
    bottom: 0
    background: blue
    height: 50px
    width: 100%